<!DOCTYPE html>
<html>
<body>

<form method="POST" action="" enctype="multipart/form-data">
  <input type="checkbox" id="standard" name="standard" value="standardization">
  <label for="standard"> Do you want to standardize the numbers? </label><br>
  <input type="checkbox" id="crop" name="crop" value="crop">
  <label for="crop"> Do you want to crop the photos in the process? </label><br>
  <label for="unusualfreq">What is an unusual amount of photos for one bib number? (Number)  </label>
  <input type="text" id="unusualfreq" name="unusualfreq"><br>
  <label for="lowerbound">What is the lower bound of bib numbers? (Number)  </label>
  <input type="text" id="lowerbound" name="lowerbound"><br>
  <label for="higherbound">What is the higher bound of bib numbers? (Number)  </label>
  <input type="text" id="higherbound" name="higherbound"><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>